<div class="slide" id="contact">
  <div class="container">
    <h2>Contact Us</h2>
    <p class="first">Want to ask us a question? Need something clarified? Here's how you can contact the organisers.</p>
    <ul>
      <li>
        <span><i class="fa fa-envelope"></i> Email</span>
        team (at) unihack.net
      </li>
      <li>
        <span><i class="fa fa-twitter"></i> Twitter</span>
        <a href="http://twitter.com/UNIHACKMelb">@UNIHACKMelb</a>
      </li>
      <li>
        <span><i class="fa fa-facebook-square"></i> Facebook</span>
        <a href="http://facebook.com/UNIHACKMelb">facebook.com/UNIHACKMelb</a>
      </li>
    </ul>
  </div>
</div>
