<div class="slide" id="faq">
  <div class="container">
    <h2>FAQs</h2>
    <div class="row faq">
      <div class="col-md-6 col-sm-12">
        <h3>What is a hackathon?</h3>
        <p>
          Hackathons originated in Silicon Valley and are now being staged regularly all over the world by organisations,
          charities and universities. The main aim is to produce ideas and build prototypes in a short amount of time
          that can be demonstrated at the end of the event.
        </p>
        <p>
          This event has nothing to do with breaking into computer systems.
        </p>
        <h3>Who is eligible to compete?</h3>
        <p>
          UNIHACK is open to all university and TAFE students in Australia. The only requirement is that you must be an
          enrolled undergraduate, honours, postgraduate or TAFE student when UNIHACK starts on August 15. We reserve
          the right to cancel your ticket if you do not meet this requirement.
        </p>
        <h3>What is the maximum team size?</h3>
        <p>
          You may have up to four members in your team. Members don't have to be from the same university, and working
          solo is also fine.
        </p>
        <h3>What is this year's theme?</h3>
        <p>
          There is no theme for this year. You can build whatever you want. We want to see what you and/or your team can
          come up with in 24 hours.
        </p>
        <h3>What should I bring?</h3>
        <p>
          A laptop, mobile phone, chargers, and a change of clothes are essential. We highly suggest also bringing a
          sleeping bag and toiletries if you want to stay the night (there is a shower located on-site).
        </p>
        <h3>Can I bring alcohol or smoke?</h3>
        <p>
          No. The event is a strictly non-alcoholic and non-smoking event.
        </p>
      </div>
      <div class="col-md-6 col-sm-12">
        <h3>Are we allowed to work on our idea beforehand?</h3>
        <p>
          You are not allowed to start any development work on your project before UNIHACK. However, you can research
          any ideas and concepts before the competition begins.
        </p>
        <h3>Are we allowed to work on existing projects?</h3>
        <p>
          No, you will not be allowed to work on existing projects at UNIHACK. We want to see new ideas that you and
          your team can come up with in 24 hours. However, you can use your own projects in your idea if it is open
          sourced.
        </p>
        <h3>Do you own my code?</h3>
        <p>
          Any intellectual property (e.g. code, images, audio) that you and/or your team create during UNIHACK belongs
          to you and/or your team.
        </p>
        <h3>Not everyone in my team got a ticket, what should I do?</h3>
        <p>
          We have a number of tickets reserved in case this happens. Contact us with the people in your team that
          registered and the people who you want to add. Please note: you must have at least two people in your team
          already registered.
        </p>
        <h3>I have never been to a hackathon. Is that OK?</h3>
        <p>
          Certainly! Hackathons are a great way to learn new skills, and there will be mentors on-site to help you along
          the way to help you build the best possible idea within 24 hours.
        </p>
        <h3>I don't have a team for UNIHACK...</h3>
        <p>
          Don't worry, we have that covered. We will be providing a variety of ways for competitors to connect with each
          other to form teams before and at the event.
        </p>
        <h3>Is there a code of conduct?</h3>
        <p>
          Yes, there is a code of conduct. This year, UNIHACK has decided to follow "The Hack Code of Conduct". This
          applies to all attendees, sponsors, partners, volunteers and staff. You can view the code of conduct
          <a href="http://hackcodeofconduct.org/unihack">here</a>.
        </p>
      </div>
    </div>
  </div>
</div>
