  <div class="footer">
    <div class="container">
      <p class="logo">
        Organised by
        <a href="http://wired.org.au/" class="wired-logo"><span>WIRED</span></a>
      </p>
      <p>&copy; 2014 - 2015 WIRED Monash. All Rights Reserved.</p>
      <p>Design by Terence Huynh.</p>
    </div>
  </div>

  <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="scripts.js"></script>
</body>
</html>
<!--
Cause we could be immortals, immortals
Just not for long, for long
And if we meet forever now, pull the blackout curtains down
Just not for long, for long
We could be immortals, immortals, immortals, immortals
-->
