<div class="slide" id="judges">
  <div class="container">

    <h2>Judges</h2>
    <p class="highlight">(or, people who will decide the overall winner)</p>

    <div class="row">
      <div class="col-sm-12 col-lg-6 col-lg-offset-3">
        <a class="card" data-toggle="collapse" data-parent="#judges">
          <img src="https://upload.wikimedia.org/wikipedia/en/e/ee/Unknown-person.gif" alt="Hadi Michael" class="img-circle">
          <span class="person">Bonnie Macdonald</span>
          <span class="title">PwC</span>
          <!-- <span class="link">Read Bio</span> -->
        </a>
        <div id="judges-bonnie" class="collapse judge-bio">
          <p>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <a class="card" data-toggle="collapse" data-target="#judges-jason" data-parent="#judges">
          <img src="img/judges/jason.jpg" alt="Jason Cormier" class="img-circle">
          <span class="person">Jason Cormier</span>
          <span class="title">Mashery</span>
          <span class="link">Read Bio</span>
        </a>
        <div id="judges-jason" class="collapse judge-bio">
          <p><strong>Director of Strategy and New Business, Australia, Intel Mashery</strong></p>
          <p>
            Jason is a product evangelist for Intel Mashery, and spends most of his time
            preaching the business benefits of a well-managed API platform to Australian
            businesses.
          </p>
          <a href="http://twitter.com/jadacormier/" class="btn btn-primary">
            <i class="fa fa-twitter"></i> @jadacormier
          </a>
        </div>
      </div>
      <div class="col-sm-6">
        <a class="card" data-toggle="collapse" data-target="#judges-hadi" data-parent="#judges">
          <img src="img/judges/hadi.jpg" alt="Hadi Michael" class="img-circle">
          <span class="person">Hadi Michael</span>
          <span class="title">Deloitte Digital</span>
          <span class="link">Read Bio</span>
        </a>
        <div id="judges-hadi" class="collapse judge-bio">
          <p><strong>Digital Adviser &amp; Software Engineer, Deloitte Digital</strong></p>
          <p>
            Hadi is a digital adviser and software engineer, with an interest in making
            the physical world more connected. As part of the Mobile and Connected Devices
            team, he helps Deloitte Digital's clients capitalise on disruptive innovation
            in mobile, wearable, contextual and ambient computing. He has also been known to
            regularly participate (and win) hackathons across Australia.
          </p>
          <a href="http://twitter.com/hadi_michael/" class="btn btn-primary">
            <i class="fa fa-twitter"></i> @hadi_michael
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <a class="card" data-toggle="collapse" data-target="#judges-april" data-parent="#judges">
          <img src="img/judges/april.jpg" alt="Hadi Michael" class="img-circle">
          <span class="person">April Staines</span>
          <span class="title">NAB &amp; Girl Geek Academy</span>
          <span class="link">Read Bio</span>
        </a>
        <div id="judges-april" class="collapse judge-bio">
          <p><strong>Architect for Digital, NAB &amp; Co-Founder, Girl Geek Academy</strong></p>
          <p>
            A girl geek with passion for all facets of technology from making, digital fabrication,
            and application development. She started back in the 90s as a developer and has worked
            in design and software development as well as IT Security.  Today she is all about digital
             architecture at NAB.  April is also one of the co-founders of Girl Geek Academy, an
             organisation who's aim is to help increase the number of women in tech.
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <a class="card" data-toggle="collapse" data-target="#judges-miguel" data-parent="#judges">
          <img src="img/judges/miguel.jpg" alt="Miguel Wood" class="img-circle">
          <span class="person">Miguel Wood</span>
          <span class="title">Euler's Bridge</span>
          <span class="link">Read Bio</span>
        </a>
        <div id="judges-miguel" class="collapse judge-bio">
          <p><strong>Co-founder &amp; CEO, Euler's Bridge</strong></p>
          <p>
            Miguel Wood is the Co-founder &amp; CEO of Euler's Bridge, an analytics platform
            to enhance member experiences through stronger connections, participation and
            representation in networked communities. He is also the co-founder of Tin Alley
            beta, a tech internship program to support high-growth technology companies in SE
            Australia with University tech talent. He is a member of the Board of Directors,
            Startup Victoria. Miguel has held various advisory roles in state governments as
            well as the Home Office in the UK. He is a computational social scientist and
            completing a PhD in social analytics at the University of Melbourne.
          </p>
        </div>
      </div>
    </div>
    <div class="row last">
      <div class="col-sm-6">
        <a class="card" data-toggle="collapse" data-parent="#judges">
          <img src="https://upload.wikimedia.org/wikipedia/en/e/ee/Unknown-person.gif" alt="TBA" class="img-circle">
          <span class="person">Andrew van der Stock</span>
          <span class="title">Threat Intelligence</span>
          <!-- <span class="link">Read Bio</span> -->
        </a>
        <div id="judges-andrew" class="collapse judge-bio">
          <p>
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <a class="card" data-toggle="collapse" data-parent="#judges">
          <img src="https://upload.wikimedia.org/wikipedia/en/e/ee/Unknown-person.gif" alt="TBA" class="img-circle">
          <span class="person">Atlanta Daniel</span>
          <span class="title">Oxygen Ventures</span>
          <!-- <span class="link">Read Bio</span> -->
        </a>
        <div id="judges-atlanta" class="collapse judge-bio">
          <p>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="slide quote twitter">
  <div class="container">
    <span class="quote">&ldquo;</span>
    <p>
      Production completion: prototype<br />Feeling: tired<br />Stickers gained: many
    </p>
    <p class="source">
      &mdash; @HugoMelb
      <a href="https://twitter.com/HugoMelb/status/498010508541181952"><i class="fa fa-twitter"></i></a>
    </p>
  </div>
</div>
