<nav id="global-nav">
  <div class="nav-content">
    <a href="http://unihack.net/" id="unihack-nav-btn" class="nav-button"><i class="fa fa-bars"></i></a>
    <h1 class="logo">
      <span>UNI</span>
      <span>HACK</span>
      <span class="light">2015</span>
    </h1>

    <div class="event-data">
      <p>Melbourne, Australia</p>
      <p>August 15-16</p>
    </div>

    <div id="nav-list">
      <ul class="nav">
        <li class="active"><a href="#home">Home</a></li>
        <li><a href="#info">About</a></li>
        <li><a href="#major-prize">Prizes</a></li>
        <li><a href="#judges">Judges</a></li>
        <li><a href="#sponsors">Sponsors</a></li>
        <li><a href="#faq">FAQs</a></li>
        <li><a href="#contact">Contact</a></li>
        <li class="wired-logo-container"><a class="external wired-logo" href="http://wired.org.au/"><span>WIRED</span></a></li>
      </ul>
    </div>
  </div>
</nav>
