<div class="slide" id="major-prize">
  <div class="container">

    <h2>Major Prize</h2>
    <p class="highlight">
      The best of the rest, the overall winner - basically, the app that best meets our judging criteria.
    </p>

    <div class="criteria clearfix">
      <h3>Judging Criteria</h3>
      <div class="row">
        <div class="col-sm-6">
          <h4 class="first">Originality</h4>
          <p>
            Is the hack more than just another generic social/mobile/local app?
            Does it do something entirely novel, or at least take a fresh approach
            to an old problem?
          </p>
        </div>
        <div class="col-sm-6">
          <h4>Technical Difficulty</h4>
          <p>
            Is the hack technically interesting or difficult? Is it just some
            lipstick on an API, or were there any technical challenges to surmount
            when building it?
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h4>Polish and Design</h4>
          <p>
            Is the hack usable in its current state? Is the user experience smooth?
            Does it work as the creators say? Is it well designed?
          </p>
        </div>
        <div class="col-sm-6">
          <h4>Usability</h4>
          <p>
            Is the hack practical? Is it something people would actually use? Does it
            fulfil a real need? Does it fulfil a real need people have?
          </p>
        </div>
      </div>
    </div>

    <div class="row prize">
      <div class="col-sm-6 gold">
        <div class="inner">
          <span class="trophy"><i class="fa fa-trophy"></i></span>
          <h3>First Place</h3>
          <p>$3000 in cash!</p>
          <p>Sphero 2.0 for each member</p>
          <p>Seats at PwC's Technology Academy</p>
        </div>
      </div>
      <div class="col-sm-3 silver">
        <div class="inner">
          <h3>Second Place</h3>
          <p>$1000 in cash!</p>
        </div>
      </div>
      <div class="col-sm-3 bronze">
        <div class="inner">
          <h3>Third Place</h3>
          <p>$500 in cash!</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="slide" id="prizes">
  <div class="container">
    <h2>Other Prizes</h2>
    <div class="row">
      <div class="col-sm-6 col-md-12 col-lg-6">
        <div class="card">
          <h3>Best Design</h3>
          <p class="prize">Adobe Creative Cloud for each team member</p>
          <p class="brief">Awarded to project with a good looking and very usable interface design.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-12 col-lg-6">
        <div class="card">
          <h3>Most Creative Design</h3>
          <p class="prize">Parrot AR.Drone 2.0</p>
          <p class="brief">Awarded to the project with the most original idea or reinvention.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-12 col-lg-6">
        <div class="card">
          <h3>People's Choice Award <span>Sponsored by Freelancer</span></h3>
          <p class="prize">$100 JB Hi-Fi Gift Card for each team member</p>
          <p class="brief">Awarded to the project that wins the hearts and minds (or the most votes) from the public.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-12 col-lg-6">
        <div class="card">
          <h3>Least Hacky Hack <span>Sponsored by Commonwealth Bank</span></h3>
          <p class="prize">Arduino Kit for each team member</p>
          <p class="brief">Awarded to the project whose code quality soars above the competition despite the pressures of UNIHACK.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-12 col-lg-6">
        <div class="card">
          <h3>Making Things Happen Award <span>Sponsored by IMC Pacific</span></h3>
          <p class="prize">Apple Watch for each team member</p>
          <p class="brief">At IMC, creative and innovative solutions are highly valued, and making them happen today is critical in maintaining our competitive edge.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-12 col-lg-6">
        <div class="card">
          <h3>Best Mobile Hack <span>Sponsored by Outware Mobile</span></h3>
          <p class="prize">Raspberry Pi for each team member</p>
          <p class="brief">Awared to the team that best solves a problem using mobile technology and feautres the best user experience and interface.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-12 col-lg-6">
        <div class="card">
          <h3>Best Use of PayPal/Braintree <span>Sponsored by Braintree</span></h3>
          <p class="prize">Developer Survival Kits including PayPal Here) for each team member</p>
          <p class="brief">Awarded to the team that can best uses Braintree/PayPal's APIs in their project.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-12 col-lg-6">
        <div class="card">
          <h3>Best Use of Zendesk's API <span>Sponsored by Zendesk</span></h3>
          <p class="prize">Dinner out at a cool venue with the Zendesk engineering team</p>
          <p class="brief">Awarded to team that can best uses Zendesk's RESTful API in their project.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-12 col-lg-6">
        <div class="card">
          <h3>Best First Year Hack</h3>
          <p class="prize">Mentoring session with an EY partner</p>
          <p class="brief">Awarded to the best project created by a team entirely made up of first year uni students.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-12 col-lg-6">
        <div class="card">
          <h3>Best Social Media Image</h3>
          <p class="prize">$50 JB Hi-Fi Gift Card</p>
          <p class="brief">Awarded to the individual who posts the best image on Twitter, Facebook or Instagram using #UNIHACK2015.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="slide quote twitter">
  <div class="container">
    <span class="quote">&ldquo;</span>
    <p>
      Happy Friday: proud to be sponsoring UNIHACK 2015 
    </p>
    <p class="source">
      &mdash; Brett Adam, Zendesk (@bpjadam)
      <a href="https://twitter.com/bpjadam/status/627006336467759104"><i class="fa fa-twitter"></i></a>
    </p>
  </div>
</div>
