<div class="slide" id="sponsors">
  <div class="container" id="accordian">
    <h2>Sponsors</h2>

    <h3>Platinum Sponsor</h3>
    <div class="row">
      <div class="col-xs-12 spItem pwc">
        <a data-toggle="modal" data-target="#platinum-pwc">PwC</a>
      </div>
    </div>

    <h3>Gold Sponsors</h3>
    <div class="row">
      <div class="col-sm-6 spItem dius">
        <a data-toggle="modal" data-target="#gold-dius">DiUS</a>
      </div>

      <div class="col-sm-6 spItem imc">
        <a data-toggle="modal" data-target="#gold-imc">IMC Capital</a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 spItem acs">
        <a data-toggle="modal" data-target="#gold-acs">Australian Computer Society</a>
      </div>
      <div class="col-sm-6 spItem cba">
        <a data-toggle="modal" data-target="#gold-cba">Commonwealth Bank</a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 spItem freelancer">
        <a data-toggle="modal" data-target="#gold-freelancer">Freelancer</a>
      </div>
    </div>

    <h3>Silver Sponsors</h3>
    <div class="row small">
      <div class="col-sm-6 spItem deloitte">
        <a href="http://yourfuture.deloitte.com.au/">Deloitte</a>
      </div>
      <div class="col-sm-6 spItem ey">
        <a href="http://www.ey.com/AU/en/Careers/Students">EY</a>
      </div>
    </div>
    <div class="row small">
      <div class="col-sm-4 spItem readify">
        <a href="http://www.readify.net/careers/">Readify</a>
      </div>
      <div class="col-sm-4 spItem msi">
        <a href="http://www.msi.unimelb.edu.au/">University of Melbourne School of Information</a>
      </div>
      <div class="col-sm-4 spItem adobe">
        <a href="http://www.adobe.com/">Adobe</a>
      </div>
    </div>

    <h3>Bronze Sponsors</h3>
    <div class="row small">
      <div class="col-sm-3 spItem angelcube">
        <a href="http://angelcube.com">AngelCube</a>
      </div>
      <div class="col-sm-3 spItem digitalocean">
        <a href="https://www.digitalocean.com/">Digital Ocean</a>
      </div>
      <div class="col-sm-3 spItem mashery">
        <a href="https://www.mashery.com/">Mashery</a>
      </div>
      <div class="col-sm-3 spItem namecheap">
        <a href="https://www.namecheap.com/">Namecheap</a>
      </div>
    </div>

    <h3>Partners</h3>
    <div class="row small">
      <div class="col-xs-12 spItem monash-uni">
        <a href="http://it.monash.edu">Monash University Faculty of IT</a>
      </div>
    </div>

    <p class="interested-in-sponsoring">
      <a href="mailto:team@unihack.net?Subject=Sponsorship" class="btn btn-outside">Interested in sponsoring?</a>
    </p>
  </div>
</div>

<div class="modal" id="platinum-pwc" tabindex="-1" role="dialog" aria-labelledby="platinum-pwc" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <img class="logo-head" src="img/popup/pwc-logo.jpg" alt="PwC Logo" />
        <p>
          PwC Australia helps organisations and individuals create the value they&apos;re looking for. We are a member
          firm of the PwC network, made up of 161,718 people who are committed to delivering quality in assurance,
          advisory, tax &amp; legal, and private clients services.
        </p>
        <p>
          PwC is one of Australia&apos;s leading professional services firms, bringing the power of our global network of
          firms to help Australian businesses, not-for-profit organisations and governments assess their performance and
          improve the way they work. Having grown from a one-man Melbourne accountancy practice in 1874 to the worldwide
          merger of Price Waterhouse and Coopers &amp; Lybrand in 1998, PwC Australia now employs more than 6,000 people.
        </p>
        <p>
          Our people are energetic and inspirational and come from a diverse range of academic backgrounds. We value
          outcomes; we strive to achieve and to help others to do the same by trusting each other and teaming together.
          We aren&apos;t scared to try new things that deliver value for society, our clients and our firm. We keep it
          real. We are honest. We embrace differences. We value all opportunities to learn and grow.
        </p>
      </div>
      <div class="modal-footer">
        <a href="http://pwc.com.au/careers/" class="btn btn-primary">Visit our website &raquo;</a>
        <a href="https://www.facebook.com/PwCAUStudentCareers/" class="btn btn-primary">
          <i class="fa fa-facebook"></i> Facebook
        </a>
        <a href="https://www.linkedin.com/grp/home?gid=6693938&sort=POPULAR/" class="btn btn-primary">
          <i class="fa fa-linkedin"></i> LinkedIn
        </a>
        <a href="#" class="btn close" data-dismiss="modal"><i class="fa fa-times"></i>Close</a>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="gold-dius" tabindex="-1" role="dialog" aria-labelledby="gold-dius" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <img class="logo-head" src="img/popup/dius_logo.jpg" alt="DiUS Logo" />
        <p>
          We are an Australian-owned technology services company, comprised of over 100 talented professionals across
          Sydney and Melbourne. We are dedicated to helping companies grow and innovate through emerging technology and
          its business application.
        </p>
        <p>
          A one-stop-shop for digital product development, our teams are made up of User Experience and Visual Designers,
          Business Analysts, Data Spelunkers as well as Software, Embedded and DevOps Engineers.
        </p>
        <p>
          At DiUS, we pride ourselves on being able to work with you to start small, test new markets, cut through the
          noise and get an idea out to the market quickly. We are known for being easy to work with, collaborative,
          pragmatic and most importantly, delivering value and outcomes for the organisations that we partner with.
          Additionally, we believe in uplifting the teams that we work alongside, to leave behind an enduring capability.
        </p>
      </div>
      <div class="modal-footer">
        <a href="http://dius.com.au/" class="btn btn-primary">Visit our website &raquo;</a>
        <a href="http://dius.com.au/careers/" class="btn btn-primary">Careers</a>
        <a href="https://twitter.com/dius_au" class="btn btn-primary">
          <i class="fa fa-twitter"></i> Twitter
        </a>
        <a href="http://linkedin.com/company/dius-computing" class="btn btn-primary">
          <i class="fa fa-linkedin"></i> LinkedIn
        </a>
        <a href="#" class="btn close" data-dismiss="modal"><i class="fa fa-times"></i>Close</a>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="gold-freelancer" tabindex="-1" role="dialog" aria-labelledby="gold-freelancer" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <img class="logo-head" src="img/popup/freelancer_logo.jpg" alt="Freelancer Logo" />
        <p>
          Freelancer.com is the world&apos;s largest freelancing, outsourcing and crowdsourcing marketplace by number of
          users and projects. We connect over 15,721,498 employers and freelancers globally from over 247 countries,
          regions and territories. Through our marketplace, employers can hire freelancers to do work in areas such as
          software development, writing, data entry and design right through to engineering, the sciences, sales and
          marketing, accounting and legal services.
        </p>
        <p>
          Freelancer Limited is trading on the Australian Securities Exchange under the ticker ASX:FLN
        </p>
      </div>
      <div class="modal-footer">
        <a href="http://freelancer.com" class="btn btn-primary">Visit our website &raquo;</a>
        <a href="#" class="btn close" data-dismiss="modal"><i class="fa fa-times"></i>Close</a>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="gold-acs" tabindex="-1" role="dialog" aria-labelledby="gold-acs" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <img class="logo-head" src="img/popup/acs_logo.jpg" alt="Australian Computer Society Logo" />
        <p>
          The Australian Computer Society is the professional association for Australia&apos;s Information and
          Communication Technology (ICT) sector.
        </p>
        <p>
          In everything we do, our goal is to help our members be the best they can be. We&apos;re passionate about
          recognising professionalism, developing ICT skills and building a community with a true sense of belonging.
        </p>
        <p>
          Our members are committed to the pursuit of excellence and the highest standards of professional conduct.
          We strive for ICT to be recognised as a driver of innovation in our society, relevant across all sectors.
        </p>
        <p>
          <em>Our goal is to help our members be the best they can be.</em>
        </p>
        <p>
          <strong>What we do</strong>
        </p>
        <p>
          We help our members realise their professional ambitions in the global economy, making the most of an era of
          extraordinary possibility.
        </p>
        <p>
          As a member, you can receive international, independent recognition for your skills through our certification
          program, bringing the rewards of new opportunities. Our professional development opportunities, networking and
          information resources help you carve out a successful career path.
        </p>
        <p>
          We are also the voice of Australian ICT, representing all practitioners in business, government and education.
          Our Code of Ethics upholds professional standards while our advocacy and policies help our profession thrive.
        </p>
        <p>
          <em>We help our members realise their professional ambitions in the global economy.</em>
        </p>
      </div>
      <div class="modal-footer">
        <a href="http://www.acs.org.au/" class="btn btn-primary">Visit our website &raquo;</a>
        <a href="https://www.facebook.com/acsvic" class="btn btn-primary">
          <i class="fa fa-facebook"></i> Facebook
        </a>
        <a href="http://twitter.com/acs_vic" class="btn btn-primary">
          <i class="fa fa-twitter"></i> Twitter
        </a>
        <a href="#" class="btn close" data-dismiss="modal"><i class="fa fa-times"></i>Close</a>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="gold-imc" tabindex="-1" role="dialog" aria-labelledby="gold-imc" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <img class="logo-head" src="img/popup/imc_logo.jpg" alt="IMC Capital Logo" />
        <p>
          IMC is one of the world&apos;s leading proprietary trading firms, trading on the biggest exchanges in the
          world.
        </p>
        <p>
          Founded in 1989 by two Dutch traders, IMC today employs over 400 people in Amsterdam, New York, Chicago,
          Sydney, Zug, Hong Kong and Shanghai. We&apos;re primarily active in algorithmic arbitrage and market-making on
          listed exchanges across the globe.
        </p>
        <p>
          We trade on an entirely proprietary basis, and that means we don&apos;t have clients. Instead, we use our own
          capital for all trading activity and take on all associated risks. With our sights firmly set on becoming the
          number one proprietary trading company in the world by profit and volume, the possibilities for our future and
          that of our employees, is endless.
        </p>
        <p>
          Technology has transformed the old method of floor trading that you&apos;ve seen in the movies to a process
          where traders are 'plugged in' to exchanges. We&apos;re leading this transition. Our trading strategy involves
          using sophisticated algorithms, which are created and coded by us, to buy and sell a security at different
          prices. It creates a unique environment where traders and developers work as one team to apply technology in
          new and innovative ways.
        </p>
        <p>
          Our people have energy and persistence that can be felt in every corner of our office floor. While we offer
          the excitement of a buzzing trading environment, our culture is casual, not corporate. It&apos;s collaborative,
          not hierarchical or political. And because we reward on merit instead of seniority, there's no limit to how
          far you can go or how much you can earn.
        </p>
        <p>
          On this level playing field, our people are able to contribute their ideas, be heard and make an impact, right
          from the beginning.
        </p>
        <p>
          Building automated trading systems requires our software developers to work closely with traders at the
          front-end of our business. Our software needs to embrace cutting-edge technologies and advanced algorithms to
          compete with the best in the world, and each decision can have a huge impact on our trading success. We invest
          in any developer who joins us so they become experts in our technologies and our trading and analysis methods,
          and help us maintain our competitive edge.
        </p>
        <p>
          Team spirit and togetherness is such a vital aspect of working life here – and that philosophy extends
          outwards to the community. We believe in the importance of philanthropic work, sharing wealth, and giving back
           – and so we support a number of charitable causes, with a primary focus on those associated with education.
           We appreciate that our people have passions outside of the office and so we&apos;ll give our staff the
           freedom to enjoy a well-rounded lifestyle. As far as success is concerned, this all means that there's
           nothing to stand in the way.
        </p>
      </div>
      <div class="modal-footer">
        <a href="http://imcgraduates.com.au/" class="btn btn-primary">Visit our website &raquo;</a>
        <a href="#" class="btn close" data-dismiss="modal"><i class="fa fa-times"></i>Close</a>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="gold-cba" tabindex="-1" role="dialog" aria-labelledby="gold-cba" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <img class="logo-head" src="img/popup/cba_logo.jpg" alt="Commonwealth Bank Logo" />
        <p>
          The Commonwealth Bank is Australia&apos;s leading technology bank with a vision to excel at securing and
          enhancing the financial wellbeing of people, businesses and communities. Within CommBank, Enterprise Services
          provides the technology and banking operations services used across the Group. As a team, they are responsible
          for the world-leading application of technology and operations across every aspect of CommBank; from
          innovative product platforms for our customers, to essential tools within our business.
        </p>
        <p>
          Find out how <a href="https://www.commbank.com.au/about-us/news/media-releases/2015/commonwealth-bank-set-to-disrupt-the-payments-space.html">
          we are disrupting the mobile payments space</a> or <a href="https://www.commbank.com.au/about-us/news/media-releases/2015/commbank-apps-for-smartwatches-now-available-for-customers.html">
          putting our apps on wearable devices</a>.
        </p>
        <p class="cba-image">
          <img src="img/popup/cba_stats.png" width="333" height="231" alt="Australia's leading technology bank" /><br />
          (All information relevant as of August, 2014)
        </p>
      </div>
      <div class="modal-footer">
        <a href="https://www.commbank.com.au/personal.html" class="btn btn-primary">Visit our website &raquo;</a>
        <a href="https://www.commbank.com.au/about-us/careers/graduate-recruitment-program/enterprise-services.html" class="btn btn-primary">Careers</a>
        <a href="#" class="btn close" data-dismiss="modal"><i class="fa fa-times"></i>Close</a>
      </div>
    </div>
  </div>
</div>


<div class="slide quote twitter">
  <div class="container">
    <span class="quote">&ldquo;</span>
    <p>
      Absolutely loved being at @UNIHACKMelb such innovation, can't wait til the next one
    </p>
    <p class="source">
      &mdash; @DeveloperSteve
      <a href="https://twitter.com/DeveloperSteve/status/497996824578256897"><i class="fa fa-twitter"></i></a>
    </p>
  </div>
</div>
